:root {
  --bs-btn-color: #fff;
  --bs-btn-bg: #fea621;
  --bs-btn-border-color: #febf4b;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #f88208;
  --bs-btn-hover-border-color: #febf4b;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #f88208;
  --bs-btn-active-border-color: #dc5d03;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #fff9eb;
  --bs-btn-disabled-border-color: #ffecc6;
}

.btn-primaryUNI {
  color: var(--bs-btn-color) !important;
  background-color: var(--bs-btn-bg) !important;
  border-color: var(--bs-btn-border-color) !important;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 0.5rem;
  margin-right: 20px;
}
.btn-primaryUNI:hover {
  color: var(--bs-btn-hover-color) !important;
  background-color: var(--bs-btn-hover-bg) !important;
  border-color: var(--bs-btn-hover-border-color) !important;
}
.btn-primaryUNI:active, .btn-primaryUNI.active {
  color: var(--bs-btn-active-color) !important;
  background-color: var(--bs-btn-active-bg) !important;
  border-color: var(--bs-btn-active-border-color) !important;
}
@media (max-width: 576px) and (max-width: 767px) {
  .btn-primaryUNI {
    padding: 0.5rem 0.7rem;
    font-size: 0.7rem;
  }
}

.btn-secondaryUNI {
  color: var(--color-resolution-blue-100) !important;
  background-color: var(--color-resolution-blue-400) !important;
  border-color: var(--color-resolution-blue-600) !important;
  padding: 0.5rem;
  font-size: 1.25rem;
  border-radius: 0.5rem;
}
.btn-secondaryUNI:hover {
  color: var(--color-resolution-blue-100) !important;
  background-color: var(--color-resolution-blue-900) !important;
  border-color: var(--color-resolution-blue-950) !important;
}
.btn-secondaryUNI:active, .btn-secondaryUNI.active {
  color: var(--bs-btn-active-color) !important;
  background-color: var(--bs-btn-active-bg) !important;
  border-color: var(--bs-btn-active-border-color) !important;
}
@media (max-width: 576px) and (max-width: 767px) {
  .btn-secondaryUNI {
    padding: 0.5rem 0.7rem;
    font-size: 0.7rem;
  }
}

.navbar {
  padding: 0px;
}

.nav-item{
    margin: 0px 5px;
    .nav-link{
        /* border-bottom: 1px solid #000; */
        font-weight: 500;
        font-size: var(--font-size-18);
        color: var(--black-color);
        &:hover{
            color: var(--bs-btn-active-bg);
            /* border-bottom: 1px solid var(--bs-btn-active-bg); */
        }
        &.active{
            color: var(--bs-btn-active-bg);
            /* border-bottom: 1px solid var(--bs-btn-active-bg); */
        }      
    }
    &.active .nav-link{
        color: var(--bs-btn-active-bg);
        /* border-bottom: 1px solid var(--bs-btn-active-bg); */
    }
}

.services-card,
.services-card:after,
.services-card .icon,
.services-card .icon i,
.services-card .icon svg,
.services-card .content a.read-m i {
  transition: all 0.3s ease-out 0s;
}

@media (min-width: 1200px) {
  .custom-col {
    flex: 0 0 20% !important;
    max-width: 20% !important;
  }
}
.services-card {
  display: flex;
  background: var(--white-color);
  box-shadow: rgba(17, 12, 46, 0.08) 0px 8px 20px 2px;
  position: relative;
  height: 100%;
  overflow: hidden;
  padding: 30px 25px;
}

.services-card:after {
  position: absolute;
  width: 0%;
  height: 2.5px;
  content: "";
  clear: both;
  display: block;
  bottom: 0;
  left: auto;
  right: 0;
  background: var(--primary-color);
}

.services-card:hover:after {
  width: 100%;
  left: 0;
  right: auto;
}

.services-card .icon {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(54, 48, 255, 0.08);
  margin-right: 20px;
  border-radius: 50%;
  color: var(--primary-color);
  font-size: 30px;
  line-height: 1.1;
}

.services-card .icon svg {
  width: 30px;
  height: 30px;
  fill: var(--primary-color);
}

.services-card .icon img {
  width: 30px;
}

.services-card .icon i {
  padding-top: 2px;
}

.services-card .icon .im.hover .img-hover {
  display: none;
}

.services-card:hover .icon .hover img {
  display: none;
}

.services-card:hover .icon .im.hover .img-hover {
  display: block;
}

.services-card:hover .icon svg {
  fill: var(--white-color);
}

.services-card:hover .icon {
  background: var(--primary-color);
  color: var(--white-color);
}

.services-card .content h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  font-family: var(--body-font);
}

.services-card .content p {
  font-size: 15px;
  margin-bottom: 0px;
  font-family: var(--heading-font);
}

.services-card .content a.read-m {
  display: inline-flex;
  margin-top: 12px;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--color-web-orange-500-color);
  align-items: center;
  gap: 4px;
  font-family: var(--heading-font);
}

.services-card .content a.read-m i {
  font-size: 15px;
  color: var(--primary-color);
}

.services-card .content a.read-m:hover {
  color: var(--primary-color);
}

.services-card .content a.read-m:hover i {
  transform: rotate(-45deg);
}

[data-bs-theme=dark] .services-card {
  background: var(--section-bg);
}

[data-bs-theme=dark] .section-bg .services-card {
  background: var(--white-color);
}

[data-bs-theme=blue] .services-card {
  background: var(--section-bg);
}

[data-bs-theme=blue] .section-bg .services-card {
  background: var(--white-color);
}

.carousel-caption {
  top: 5rem;
  bottom: 1.25rem !important;
}
@media (max-width: 576px) and (max-width: 767px) {
  .carousel-caption {
    top: 1rem;
    bottom: 0.25rem !important;
  }
}

@media (max-width: 576px) and (max-width: 767px) {
  .navbar-brand {
    width: 72%;
  }
}/*# sourceMappingURL=buttons.css.map */