@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --primary-color: #fea621;
  --secondary-color: #0d1e78;
  --tertiary-color: #E9ECEF;
  --success-color: #28a745;
  --error-color: #dc3545;
  --warning-color: #ffc107;
  --info-color: #17a2b8;
  --light-color: #f8f9fa;
  --dark-color: #343a40;
  --white-color: #ffffff;
  --black-color: #000000;
  --grey-color: #5D5D5D;
  --background-color: #F9FAFB;
  --primary-disabled-color: #E3E9F6;
  --primary-hover-color: #4654AF;
  --primary-active-color: #363E72;
  --secondary-disabled-color: #F4E3D1;
  --secondary-hover-color: #DDA26C;
  --secondary-active-color: #D58448;
  --loginForm-background-color: #F5F5F5;
  --font-size-base: 1;
  --font-size-lg: 1.25rem;
  --font-size-md: 1rem;
  --font-size-sm: 0.875rem;
  --font-size-8: 0.5rem;
  --font-size-9: 0.5625rem;
  --font-size-10: 0.625rem;
  --font-size-11: 0.688rem;
  --font-size-12: 0.75rem;
  --font-size-13: 0.813rem;
  --font-size-14: 0.875rem;
  --font-size-15: 0.938rem;
  --font-size-16: 1rem;
  --font-size-17: 1.063rem;
  --font-size-18: 1.12rem;
  --font-size-19: 1.18rem;
  --font-size-20: 1.25rem;
  --font-size-21: 1.31rem;
  --font-size-22: 1.37rem;
  --font-size-23: 1.43rem;
  --font-size-24: 1.5rem;
  --font-size-25: 1.563rem;
  --font-size-26: 1.625rem;
  --font-size-27: 1.688rem;
  --font-size-28: 1.75rem;
  --font-size-29: 1.813rem;
  --font-size-30: 1.875rem;
  --font-size-31: 1.938rem;
  --font-size-32: 2rem;
  --font-size-40: 2.5rem;
  --font-size-48: 3rem;
  --font-size-56: 3.5rem;
  --border-radius: 0.25rem;
  --border-width: 0.15rem;
  --transition: all 0.2s ease-in-out;
  --color-web-orange-50: #fff9eb;
  --color-web-orange-100: #ffecc6;
  --color-web-orange-200: #ffd988;
  --color-web-orange-300: #febf4b;
  --color-web-orange-400: #fea621;
  --color-web-orange-500: #f88208;
  --color-web-orange-600: #dc5d03;
  --color-web-orange-700: #b63e07;
  --color-web-orange-800: #94300c;
  --color-web-orange-900: #79280e;
  --color-web-orange-950: #461202;
  --color-trinidad-50: #fff7ec;
  --color-trinidad-100: #ffedd3;
  --color-trinidad-200: #ffd8a7;
  --color-trinidad-300: #ffbb6f;
  --color-trinidad-400: #ff9334;
  --color-trinidad-500: #ff730d;
  --color-trinidad-600: #e95403;
  --color-trinidad-700: #c94005;
  --color-trinidad-800: #9f320d;
  --color-trinidad-900: #802c0e;
  --color-trinidad-950: #451405;
  --color-resolution-blue-50: #e8f4ff;
  --color-resolution-blue-100: #d5eaff;
  --color-resolution-blue-200: #b3d7ff;
  --color-resolution-blue-300: #86bbff;
  --color-resolution-blue-400: #578fff;
  --color-resolution-blue-500: #3164ff;
  --color-resolution-blue-600: #0e34ff;
  --color-resolution-blue-700: #0428fe;
  --color-resolution-blue-800: #0727cc;
  --color-resolution-blue-900: #112b9e;
  --color-resolution-blue-950: #0d1e78;
  --Neutrals950: #000000;
  --Neutrals900: #3D3D3D;
  --Neutrals800: #454545;
  --Neutrals700: #4F4F4F;
  --Neutrals600: #5D5D5D;
  --Neutrals500: #6D6D6D;
  --Neutrals400: #888888;
  --Neutrals300: #B0B0B0;
  --Neutrals200: #D1D1D1;
  --Neutrals100: #E7E7E7;
  --Neutrals50: #F6F6F6;
  --contactBanner: #fee2e3;
  --bs-progress-height: 0.51rem;
}

:root {
  --white-color: #fff;
  --section-bg: #efefff;
  --body-font: "Catamaran", sans-serif;
  --heading-font: "Jost", sans-serif;
}

html, body {
  overflow-x: hidden;
  width: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  color: var(--black-color);
  font-family: var(--body-font);
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  transition: 0.4s;
  -webkit-transition: all 0.4s ease-in-out;
}

img {
  max-width: 100%;
  height: auto;
}

img, svg {
  vertical-align: middle;
}

.catamaran-main {
  font-family: var(--body-font);
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.jost-main {
  font-family: var(--heading-font);
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.logoTop {
  width: 30%;
}
@media (max-width: 576px) and (max-width: 767px) {
  .logoTop {
    width: 50%;
  }
}

.sliderContent {
  margin-top: 5rem;
}
@media (max-width: 576px) and (max-width: 767px) {
  .sliderContent {
    margin-top: 2rem;
  }
}
.sliderContent h4 {
  color: var(--white-color);
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 2rem;
}
@media (max-width: 576px) and (max-width: 767px) {
  .sliderContent h4 {
    font-size: 15px;
    margin-bottom: 0.4rem;
  }
}
.sliderContent h2 {
  color: var(--white-color);
  font-size: 60px;
  margin: 3rem 0;
}
@media (max-width: 576px) and (max-width: 767px) {
  .sliderContent h2 {
    font-size: 20px;
    margin: 0.3rem 0;
  }
}
.sliderContent p {
  color: var(--white-color);
  margin-bottom: 4rem;
  font-size: 18px;
  font-weight: 500;
}
@media (max-width: 576px) and (max-width: 767px) {
  .sliderContent p {
    font-size: 12px;
    margin-bottom: 1rem;
  }
}

.servicesSections {
  background-color: var(--section-bg);
}
.servicesSections .title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50vw;
}
@media (max-width: 576px) and (max-width: 767px) {
  .servicesSections .title {
    width: 90vw;
  }
}
.servicesSections .title h4 {
  font-size: var(--font-size-20);
  font-weight: bold;
  margin-bottom: 20px;
  font-family: var(--heading-font);
}
.servicesSections .title h2 {
  font-size: var(--font-size-40);
  line-height: 44px !important;
  font-family: var(--body-font);
  margin-bottom: 15px;
}
.servicesSections .title h2 span {
  color: var(--primary-color);
}
@media (max-width: 991px) {
  .servicesSections .title h2 h2 {
    font-size: var(--font-size-24) !important;
    line-height: 34px !important;
  }
}

.productsSections .title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50vw;
}
@media (max-width: 576px) and (max-width: 767px) {
  .productsSections .title {
    width: 90vw;
  }
}
.productsSections .title h4 {
  font-size: var(--font-size-20);
  font-weight: bold;
  margin-bottom: 20px;
  font-family: var(--heading-font);
}
.productsSections .title h2 {
  font-size: var(--font-size-40);
  line-height: 44px !important;
  font-family: var(--body-font);
  margin-bottom: 15px;
}
.productsSections .title h2 span {
  color: var(--primary-color);
}
@media (max-width: 991px) {
  .productsSections .title h2 h2 {
    font-size: var(--font-size-24) !important;
    line-height: 34px !important;
  }
}
.productsSections .productsDetails {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 20px 0;
}
.productsSections .productsDetails img {
  border-radius: 30px;
}
.productsSections .productsDetails img:after {
  position: absolute;
  width: 0%;
  height: 2.5px;
  content: "";
  clear: both;
  display: block;
  bottom: 0;
  left: auto;
  right: 0;
  background: var(--primary-color);
}
.productsSections .productsDetails img:hover:after {
  width: 100%;
  left: 0;
  right: auto;
}
.productsSections .productsDetails h4 {
  font-size: var(--font-size-28);
  padding: 10px 0px;
}
.productsSections .productsDetails h5 {
  font-size: var(--font-size-13);
  padding-bottom: 20px;
  border-bottom: 1px solid var(--Neutrals300);
}
.productsSections .productsDetails .readmore {
  display: inline-flex;
  font-weight: 600;
  text-transform: capitalize;
  align-items: center;
  gap: 4px;
  font-family: var(--heading-font);
}
.productsSections .productsDetails .readmore a {
  color: var(--color-web-orange-500);
}
.productsSections .productsDetails .readmore a i {
  font-size: 15px;
  color: var(--primary-color);
}
.productsSections .productsDetails .readmore a:hover {
  color: var(--primary-color);
}
.productsSections .productsDetails .readmore a:hover i {
  transform: rotate(-45deg);
}
.productsSections .productsDetails .image-container {
  position: relative;
  overflow: hidden;
}
.productsSections .productsDetails .image-container img {
  width: 100%;
  height: auto;
  transition: all 0.3s ease;
}
.productsSections .productsDetails .image-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.3s ease;
}
.productsSections .productsDetails .image-container .overlay .icon {
  color: #fff;
  font-size: 24px;
  transform: translateY(20px);
  transition: all 0.3s ease;
}
.productsSections .productsDetails .image-container .overlay .icon:hover {
  color: #fea621;
}
.productsSections .productsDetails .image-container:hover img {
  transform: scale(1.1);
}
.productsSections .productsDetails .image-container:hover .overlay {
  opacity: 1;
}
.productsSections .productsDetails .image-container:hover .overlay .icon {
  transform: translateY(0);
}

.section-pad {
  padding: 80px 0;
}

.aboutUsSection .container {
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.aboutUsSection .ml-70 {
  margin-left: 0;
}
@media (min-width: 992px) {
  .aboutUsSection .ml-70 {
    margin-left: 70px;
  }
}
.aboutUsSection .pr-100 {
  padding-right: 0;
}
@media (min-width: 992px) {
  .aboutUsSection .pr-100 {
    padding-right: 100px;
  }
}
.aboutUsSection .aboutusimg {
  position: relative;
}
.aboutUsSection .aboutusimg .aboutusimgtxt {
  position: absolute;
  top: 35%;
  left: 18%;
  transform: rotate(-90deg) translateY(-188px);
  z-index: -1;
}
@media (max-width: 576px) and (max-width: 767px) {
  .aboutUsSection .aboutusimg .aboutusimgtxt {
    left: 30%;
  }
}
.aboutUsSection .aboutusimg .aboutusimgtxt h3 {
  color: var(--secondary-color);
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
}
@media (max-width: 576px) and (max-width: 767px) {
  .aboutUsSection .aboutusimg .aboutusimgtxt h3 {
    font-size: 75px;
  }
}
.aboutUsSection .aboutusimg .aboutusimgtxt h3::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%; /* Ensure the pseudo-element has height */
  transition: all 2s ease-out 0s;
  animation: about-text 3s ease-in-out 1s forwards infinite alternate-reverse;
}
.aboutUsSection .aboutusimg img {
  border-radius: 6px !important;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  width: 80%;
  margin-left: 20%;
}
.aboutUsSection .aboutusimg .experienceBox {
  position: absolute;
  right: 20px;
  bottom: 30px;
  padding: 15px 25px 15px;
  background-color: var(--white-color);
  box-shadow: 0px 30px 50px rgba(3, 4, 28, 0.1);
  z-index: 99;
  text-align: center;
}
@media (max-width: 576px) and (max-width: 767px) {
  .aboutUsSection .aboutusimg .experienceBox {
    padding: 10px;
  }
}
.aboutUsSection .aboutusimg .experienceBox h4 {
  font-size: 80px;
  font-weight: 600;
  background: var(--primary-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  line-height: 1;
  margin-bottom: 0;
}
@media (max-width: 576px) and (max-width: 767px) {
  .aboutUsSection .aboutusimg .experienceBox h4 {
    font-size: 50px;
  }
}
.aboutUsSection .aboutusimg .experienceBox p {
  font-size: 20px;
  font-weight: 600;
  font-family: var(--heading-font);
}
@media (max-width: 576px) and (max-width: 767px) {
  .aboutUsSection .aboutusimg .experienceBox p {
    font-size: 14px;
  }
}
.aboutUsSection .content p.text {
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 20px;
  text-align: justify;
}

.contactUsSection .container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.contactUsSection .container .contactLeftBgs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.contactUsSection .container .contactLeftBgs .iconsContact {
  font-size: var(--font-size-30);
  width: 50px;
  margin: 10px;
}
.contactUsSection .container .contactLeftBgs .iconsContact .icon {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(54, 48, 255, 0.08);
  margin-right: 50px;
  border-radius: 50%;
  color: var(--color-resolution-blue-950);
  font-size: 20px;
  line-height: 1.1;
}
.contactUsSection .container .contactLeftBgs .iconsContact .icon .icon i {
  padding-top: 2px;
}
.contactUsSection .container .contactLeftBgs .iconsContact:hover .icon {
  background: var(--color-trinidad-950);
  color: var(--white-color);
}
.contactUsSection .container .contactLeftBgs .detailsContact {
  padding: 10px;
}
.contactUsSection .container .contactLeftBgs .detailsContact h6 {
  font-size: var(--font-size-20);
}
.contactUsSection .container .contactLeftBgs .detailsContact p {
  font-size: var(--font-size-14);
}
.contactUsSection .container .contactBox01 {
  background-color: var(--color-trinidad-100);
}
.contactUsSection .container .contactBox02 {
  background-color: var(--color-trinidad-200);
}
.contactUsSection .container .contactBox03 {
  background-color: var(--color-trinidad-300);
}
.contactUsSection .container .contactForm {
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  background-color: var(--color-resolution-blue-100);
}
.contactUsSection .container .contactForm .formGroups {
  display: flex;
  flex-direction: column;
  margin-right: 8px;
  margin-bottom: 8px;
}
.contactUsSection .container .contactForm .formGroups label {
  font-size: var(--font-size-12);
  margin: 4px 0;
}

.aboutusTitle h4 {
  position: relative;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0px;
  display: inline-block;
  padding: 0px 80px;
  margin-bottom: 15px;
  color: var(--primary-color);
}
.aboutusTitle h4.subTitle {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: capitalize;
  border: 1px solid var(--ct-border-color);
  display: inline-flex;
  padding: 8px 24px;
  border-radius: 30px;
  line-height: 24px;
  background: rgba(226, 232, 240, 0.3019607843);
  margin-bottom: 18px;
}
@media (max-width: 576px) and (max-width: 767px) {
  .aboutusTitle h4.subTitle {
    margin-top: 30px;
  }
}
.aboutusTitle h2 {
  font-size: 42px;
  margin-bottom: 15px;
}
@media (max-width: 576px) and (max-width: 767px) {
  .aboutusTitle h2 {
    font-size: 32px;
  }
}

.marqueeSections .news-ticker {
  background-color: #f8f9fa;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  padding: 8px;
  font-family: var(--body-font);
  position: relative;
}
.marqueeSections .news-ticker .scroll {
  display: flex;
  width: -moz-fit-content;
  width: fit-content; /* Adjust to content width */
  animation: ticker 40s linear infinite; /* Increased duration */
}
.marqueeSections .ticker-text {
  display: inline-block;
  padding-left: 100%;
}
.marqueeSections .ticker-text div {
  font-weight: 900;
  font-size: 4em;
  text-transform: uppercase;
  white-space: nowrap;
  color: var(--headding-color);
  /* background-color: var(--white-bg); */
  will-change: transform;
}
.marqueeSections .ticker-text div span {
  -webkit-text-stroke: 2px var(--primary-color);
  color: var(--white-color);
}
@keyframes ticker {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.footer {
  font-family: var(--heading-font);
  background-color: var(--color-resolution-blue-100);
}
.footer p {
  color: var(--dark-color);
}
.footer h5 {
  color: var(--dark-color);
}
.footer a {
  color: var(--color-resolution-blue-900);
  text-decoration: none;
}
.footer a:hover {
  color: var(--color-trinidad-500);
  font-weight: 500;
}
.footer ul.quickLinks li {
  padding: 5px 20px;
  border-bottom: 1px solid var(--Neutrals200);
}
.footer ul.quickLinks li a {
  color: var(--dark-color);
  font-weight: bold;
}
.footer ul.quickLinks li:hover {
  color: var(--color-web-orange-50);
  background-color: var(--color-trinidad-300);
}
.footer ul.social {
  list-style: none;
}
.footer ul.social li {
  padding: 10px 0px;
}
.footer ul.social li::before {
  content: "";
  font-weight: bold;
  font-size: var(--font-size-13);
  margin-right: 10px;
}
.footer ul.contact-info {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.footer ul.contact-info li {
  margin-bottom: 10px;
  display: flex;
  align-items: start;
}
.footer ul.contact-info li .icon i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  margin-right: 20px;
  background: var(--color-resolution-blue-50);
  color: var(--color-resolution-blue-950);
  border-radius: 50%;
  font-size: 18px;
}
.footer ul.contact-info li .content h4 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: var(--color-resolution-blue-950);
  letter-spacing: 1px;
}
.footer ul.contact-info li .content p {
  color: var(--Neutrals950);
  margin-top: 4px;
  line-height: 20px;
  font-size: 16px;
}
.footer .copyRight {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: var(--font-size-13);
  color: var(--black-color);
  border-top: 1px solid var(--color-resolution-blue-300);
}

.hero-section .carousel .carousel-inner {
  height: 100vh;
}
.hero-section .carousel .carousel-inner .carousel-item {
  height: 100%;
}
.hero-section .carousel .carousel-inner .carousel-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero-section .carousel .carousel-inner .carousel-item .carousel-caption {
  bottom: 30%;
}
.hero-section .carousel .carousel-inner .carousel-item .carousel-caption h1 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}
.hero-section .carousel .carousel-inner .carousel-item .carousel-caption p {
  font-size: 1.25rem;
}

.services-list {
  background: var(--Neutrals200);
  border-radius: 4px;
  padding: 30px 30px;
}

.serviceDetailsSections {
  background-color: var(--color-trinidad-50);
  border-radius: 4px;
  padding: 20px 20px;
}

.serviceDetailsSections h4 {
  font-size: var(--font-size-40);
  color: var(--color-web-orange-600);
}
.serviceDetailsSections h4 span {
  font-size: var(--font-size-30);
  color: var(--color-resolution-blue-700);
}

.serviceDetailsSections h6 {
  font-size: var(--font-size-20);
  font-weight: bold;
}

.list-group-item {
  margin-bottom: 5px;
  position: relative;
}
.list-group-item::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid var(--color-resolution-blue-900); /* Adjust color as needed */
}

.list-group-item.active {
  z-index: 2;
  color: var(--color-resolution-blue-50);
  background-color: var(--color-resolution-blue-900);
  border-color: var(--color-resolution-blue-600);
}
.list-group-item.active::after {
  border-left: 5px solid var(--color-resolution-blue-200); /* Adjust color as needed */
}

.tittleHeader {
  height: 65vh;
}
.tittleHeader .sliderContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tittleHeader .sliderContent p a {
  color: var(--white-color);
  text-decoration: underline;
}

.servicesImg {
  background-image: url(../images/services-header.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.productsImg {
  background-image: url(../images/products-header.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.aboutusImg {
  background-image: url(../images/aboutus-header.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.contactUsImg {
  background-image: url(../images/contactus-header.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.advertise {
  margin-top: 20px;
  background-image: url(../images/callUs.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
  height: 65vh;
  background-size: contain;
  color: var(--white-color);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.advertise .icon {
  height: 60px;
  width: 60px;
  line-height: 30px;
  background-color: var(--white-color);
  border-radius: 50%;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  color: var(--primary-color);
  -webkit-transition: 0.5s -webkit-animation ripple-white-18 1s linear infinite;
  animation: ripple-white-18 1s linear infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 25px;
}
.advertise h5 {
  font-size: var(--font-size-30);
  text-align: center;
}
.advertise h6 {
  font-size: var(--font-size-20);
}

@keyframes ripple-white-18 {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1), 0 0 0 80px rgba(255, 255, 255, 0);
  }
}/*# sourceMappingURL=styles.css.map */