:root {
  --primary-color: #fea621;
  --secondary-color: #0d1e78;
  --tertiary-color: #E9ECEF;
  --success-color: #28a745;
  --error-color: #dc3545;
  --warning-color: #ffc107;
  --info-color: #17a2b8;
  --light-color: #f8f9fa;
  --dark-color: #343a40;
  --white-color: #ffffff;
  --black-color: #000000;
  --grey-color: #5D5D5D;
  --background-color: #F9FAFB;
  --primary-disabled-color: #E3E9F6;
  --primary-hover-color: #4654AF;
  --primary-active-color: #363E72;
  --secondary-disabled-color: #F4E3D1;
  --secondary-hover-color: #DDA26C;
  --secondary-active-color: #D58448;
  --loginForm-background-color: #F5F5F5;
  --font-size-base: 1;
  --font-size-lg: 1.25rem;
  --font-size-md: 1rem;
  --font-size-sm: 0.875rem;
  --font-size-8: 0.5rem;
  --font-size-9: 0.5625rem;
  --font-size-10: 0.625rem;
  --font-size-11: 0.688rem;
  --font-size-12: 0.75rem;
  --font-size-13: 0.813rem;
  --font-size-14: 0.875rem;
  --font-size-15: 0.938rem;
  --font-size-16: 1rem;
  --font-size-17: 1.063rem;
  --font-size-18: 1.12rem;
  --font-size-19: 1.18rem;
  --font-size-20: 1.25rem;
  --font-size-21: 1.31rem;
  --font-size-22: 1.37rem;
  --font-size-23: 1.43rem;
  --font-size-24: 1.5rem;
  --font-size-25: 1.563rem;
  --font-size-26: 1.625rem;
  --font-size-27: 1.688rem;
  --font-size-28: 1.75rem;
  --font-size-29: 1.813rem;
  --font-size-30: 1.875rem;
  --font-size-31: 1.938rem;
  --font-size-32: 2rem;
  --font-size-40: 2.5rem;
  --font-size-48: 3rem;
  --font-size-56: 3.5rem;
  --border-radius: 0.25rem;
  --border-width: 0.15rem;
  --transition: all 0.2s ease-in-out;
  --color-web-orange-50: #fff9eb;
  --color-web-orange-100: #ffecc6;
  --color-web-orange-200: #ffd988;
  --color-web-orange-300: #febf4b;
  --color-web-orange-400: #fea621;
  --color-web-orange-500: #f88208;
  --color-web-orange-600: #dc5d03;
  --color-web-orange-700: #b63e07;
  --color-web-orange-800: #94300c;
  --color-web-orange-900: #79280e;
  --color-web-orange-950: #461202;
  --color-trinidad-50: #fff7ec;
  --color-trinidad-100: #ffedd3;
  --color-trinidad-200: #ffd8a7;
  --color-trinidad-300: #ffbb6f;
  --color-trinidad-400: #ff9334;
  --color-trinidad-500: #ff730d;
  --color-trinidad-600: #e95403;
  --color-trinidad-700: #c94005;
  --color-trinidad-800: #9f320d;
  --color-trinidad-900: #802c0e;
  --color-trinidad-950: #451405;
  --color-resolution-blue-50: #e8f4ff;
  --color-resolution-blue-100: #d5eaff;
  --color-resolution-blue-200: #b3d7ff;
  --color-resolution-blue-300: #86bbff;
  --color-resolution-blue-400: #578fff;
  --color-resolution-blue-500: #3164ff;
  --color-resolution-blue-600: #0e34ff;
  --color-resolution-blue-700: #0428fe;
  --color-resolution-blue-800: #0727cc;
  --color-resolution-blue-900: #112b9e;
  --color-resolution-blue-950: #0d1e78;
  --Neutrals950: #000000;
  --Neutrals900: #3D3D3D;
  --Neutrals800: #454545;
  --Neutrals700: #4F4F4F;
  --Neutrals600: #5D5D5D;
  --Neutrals500: #6D6D6D;
  --Neutrals400: #888888;
  --Neutrals300: #B0B0B0;
  --Neutrals200: #D1D1D1;
  --Neutrals100: #E7E7E7;
  --Neutrals50: #F6F6F6;
  --contactBanner: #fee2e3;
  --bs-progress-height: 0.51rem;
}/*# sourceMappingURL=variable.css.map */