.videoContent {
  margin-top: 80px;
}
@media (max-width: 576px) and (max-width: 767px) {
  .videoContent {
    margin-top: 60px;
  }
}
.videoContent h4 {
  color: var(--white-color);
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
}
.videoContent h2 {
  color: var(--white-color);
  font-size: 60px;
  margin: 20px 0px;
}
@media (max-width: 576px) and (max-width: 767px) {
  .videoContent h2 {
    font-size: 50px;
  }
}
.videoContent p {
  color: var(--white-color);
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 500;
}

.services-card,
.services-card:after,
.services-card .icon,
.services-card .icon i,
.services-card .icon svg,
.services-card .content a.read-m i {
  transition: all 0.3s ease-out 0s;
}

@media (min-width: 1200px) {
  .custom-col {
    flex: 0 0 20% !important;
    max-width: 20% !important;
  }
}
.services-card {
  display: flex;
  background: var(--white-color);
  box-shadow: rgba(17, 12, 46, 0.08) 0px 8px 20px 2px;
  position: relative;
  height: 100%;
  overflow: hidden;
  padding: 30px 25px;
}

.services-card:after {
  position: absolute;
  width: 0%;
  height: 2.5px;
  content: "";
  clear: both;
  display: block;
  bottom: 0;
  left: auto;
  right: 0;
  background: var(--primary-color);
}

.services-card:hover:after {
  width: 100%;
  left: 0;
  right: auto;
}

.services-card .icon {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(54, 48, 255, 0.08);
  margin-right: 20px;
  border-radius: 50%;
  color: var(--primary-color);
  font-size: 30px;
  line-height: 1.1;
}

.services-card .icon svg {
  width: 30px;
  height: 30px;
  fill: var(--primary-color);
}

.services-card .icon img {
  width: 30px;
}

.services-card .icon i {
  padding-top: 2px;
}

.services-card .icon .im.hover .img-hover {
  display: none;
}

.services-card:hover .icon .hover img {
  display: none;
}

.services-card:hover .icon .im.hover .img-hover {
  display: block;
}

.services-card:hover .icon svg {
  fill: var(--white-color);
}

.services-card:hover .icon {
  background: var(--primary-color);
  color: var(--white-color);
}

.services-card .content h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  font-family: var(--body-font);
}

.services-card .content p {
  font-size: 15px;
  margin-bottom: 0px;
  font-family: var(--heading-font);
}

.services-card .content a.read-m {
  display: inline-flex;
  margin-top: 12px;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--color-web-orange-500-color);
  align-items: center;
  gap: 4px;
  font-family: var(--heading-font);
}

.services-card .content a.read-m i {
  font-size: 15px;
  color: var(--primary-color);
}

.services-card .content a.read-m:hover {
  color: var(--primary-color);
}

.services-card .content a.read-m:hover i {
  transform: rotate(-45deg);
}

[data-bs-theme=dark] .services-card {
  background: var(--section-bg);
}

[data-bs-theme=dark] .section-bg .services-card {
  background: var(--white-color);
}

[data-bs-theme=blue] .services-card {
  background: var(--section-bg);
}

[data-bs-theme=blue] .section-bg .services-card {
  background: var(--white-color);
}/*# sourceMappingURL=video.css.map */